<div class="content-offset">
  <div class="content">
    <div class="text-center scroll staffing-content">
      <table class="table table-fixed table-bordered">
        <thead>
          <tr class='staffing-list-header-font text-center'>
            <th class="text-center">Sport Name</th>
            <th class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @sports.each do |sport| %>
            <tr>
              <td class="col col-md-auto">
                <p class="text-center"><%= sport.sport_name %></p>
              </td>
              <td class="col col-md-auto">
                <p class="text-center"><%= link_to "Delete", sport_path(sport), method: :delete, class: 'btn btn-danger user-delete', data: { confirm: 'Are you sure you want to Delete this Sport?' } %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
