/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
}

input {
  padding-left: 5px;
}

.login-panel {
  background: #990000;
  color: white;
}

.input-text {
  color: black;
}

 .navbar-brand {
   height: auto;
 }

 > .container, > .container-fluid {
   .navbar-brand {
     margin-left: 0;
   }
 }

 .main-logo {
   width: 138px;
   padding-left: 0;
   margin-left: 0;
 }

 .navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.content-offset{
  margin-left: 139px;
}

.content {
  margin-left: 30px;
}

.new-btn {
  padding: 0px;
}

.user-name {
  padding-top: 5px;
  padding-left: 5px;
  color: #00c5ff !important;
}

.sign-out {
  padding-top: 5px;
  padding-left: 5px;
  color: #ffa2b3 !important;
}

.search-form {
  padding-top: 10px;
}

.reset-filter {
  padding-top: 3px !important;
}

.job-show {
  background-color: antiquewhite;
}

.job-show-content {
  padding: 15px 50px 15px 50px;
}

.show-titles{
  font-size: 20px;
  font-weight: bolder;
}

.show-details {
  font-size: 18px;
  font-weight: normal;
  font-family: fantasy;
}

#job_job_completion_notes {
  width: 50%;
  height: 125px;
}
